<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>水果分类系统</title>
    <!-- 引入网页头标 -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- 引入css -->
    <link rel="stylesheet" href="./css/index-2.css">

    <!-- 引入字体图标 -->
    <link rel="stylesheet" href="./font/iconfont.css">
    <!-- 引入初始化css -->
    <link rel="stylesheet" href="./css/rest.css">
    <!-- 引入js css -->
    <link rel="stylesheet" href="./css/js.css">
    <!-- 引入外部js -->
    <script src="./js/jquery.min.js"></script>
    <!-- 引入页面js -->
    <script src="./js/index.js"></script>



	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />


	<!-- 自定义目录下css -->
	<link rel="stylesheet" href="../static/css/font.css">
	<link rel="stylesheet" href="../static/css/xadmin.css">
	<!-- <link rel="stylesheet" href="../static/css/main.css"> -->
	<link rel="stylesheet" href="../static/css/reset.css">
	<!-- layui css -->
	<link rel="stylesheet" href="../static/lib/layui/css/layui.css">

	<!-- layui admin css -->
	<link rel="stylesheet" href="../static/lib/layuiadmin/lib/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="../static/lib/layuiadmin/lib/layui/css/admin.css" media="all">
	<!-- <link rel="stylesheet" href="../static/lib/layuiadmin/lib/layui/css/layui_old.css" media="all"> -->
	<link rel="stylesheet" href="../static/lib/layuiadmin/style/admin.css" media="all">

	<!-- 引用的js -->
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="../static/lib/layui/layui.js" charset="utf-8"></script>
	<script type="text/javascript" src="../static/js/xadmin.js"></script>
	<script type="text/javascript" src="../static/js/echarts.js"></script>
	<script type="text/javascript" src="../static/js/echarts.min.js"></script>

</head>

<body>
	<ul class="layui-nav" lay-filter="">
		<li class="layui-nav-item"><a href="index.html">系统首页</a></li>
		<li class="layui-nav-item layui-this"><a href="dict.html">水果百科</a></li>
		<li class="layui-nav-item"><h4>水果分类系统</h4></div>


	</ul>




		<!-- 顶部结束 -->
		<!-- 中部开始 -->


		<table style="margin-left: 100px; margin-top: 80px;    line-height: 40px">
			<tbody class="panel panel-default" >
				<tr align="center">
					<td width="90">
						<div><img src="../static/images/s1.jpg" width="200" height="200" style="margin: 20px;"></div>
					</td>
					<td width="10"> </td>
					<td align="left">
						<ul>
							<li><h2>苹果</h2></li>
							<li  style="font-size: 14px;">
								苹果(Malus pumila Mill)，是落叶乔木，通常树木可高至15米，但栽培树木一般只高3-5米左右。
								树干呈灰褐色，树皮有一定程度的脱落。苹果树开花期是基于各地气候而定，
								但一般集中在4-5月份。苹果是异花授粉植物，大部分品种自花不能结成果实。
								一般苹果栽种后，于2-3年才开始结出果实。果实一般呈红色，但需视乎品种而定。
								苹果树的果实富含矿物质和维生素，为人们最常食用的水果之一。果实成长期之长短，
								一般早熟品种为65-87天，中熟品种为90-133天，晚熟品种则为137-168天。在一般情形下，
								栽种后苹果可有15-50年寿命。
							</li>

						</ul>
					</td>
					<td width="10"> </td>
					<td width="100">
					</td>
					<!-- <hr class="layui-border-black"> -->
				</tr>
					<hr class="layui-border-black">
			</tbody>
		</table>
		<table style="margin-left: 100px; margin-top: 80px;    line-height: 40px">
			<tbody class="panel panel-default" >
				<tr align="center">
					<td width="90">
						<div><img src="../static/images/s2.jpg" width="200" height="200" style="margin: 20px;"></div>
					</td>
					<td width="10"> </td>
					<td align="left">
						<ul>
							<li><h2>香蕉</h2></li>
							<li  style="font-size: 14px;">
								香蕉(Musa nana Lour)是芭蕉科、芭蕉属植物。植株丛生，具匐匍茎，矮型的高3.5米以下，
								一般高不及2米，高型的高4-5米，假茎均浓绿而带黑斑，被白粉，尤以上部为多。叶片长圆形，
								穗状花序下垂，花序轴密被褐色绒毛，苞片外面紫红色，被白粉，内面深红色。花乳白色或略带浅紫色，离生花被片近圆形。
								果序弯垂，结果10-20串，约50-150个。
								植株结果后枯死，由根状茎长出的吸根继续繁殖，每一根株可活多年。

							</li>

						</ul>
					</td>
					<td width="10"> </td>
					<td width="100">
					</td>
					<!-- <hr class="layui-border-black"> -->
				</tr>
					<hr class="layui-border-black">
			</tbody>
		</table>
		
		<table style="margin-left: 100px; margin-top: 80px;    line-height: 40px">
			<tbody class="panel panel-default" >
				<tr align="center">
					<td width="90">
						<div><img src="../static/images/s3.jpg" width="200" height="200" style="margin: 20px;"></div>
					</td>
					<td width="10"> </td>
					<td align="left">
						<ul>
							<li><h2>桃子</h2></li>
							<li  style="font-size: 14px;">
								桃(Prunus persica L.)蔷薇科、桃属植物。落叶小乔木，花单生，从淡至深粉红或红色，有时为白色，早春开花；
								近球形核果，表面有毛茸，肉质可食，为橙黄色泛红色，直径7.5厘米，有带深麻点和沟纹的核，内含白色种子。
								是一种果实作为水果的落叶小乔木，花可以观赏，果实多汁，可以生食或制桃脯、罐头等，核仁也可以食用。果肉有白色和黄色的，
								桃有多种品种，一般果皮有毛，“油桃”的果皮光滑；“蟠桃”果实是扁盘状；“碧桃”是观赏花用桃树，有多种形式的花瓣。
								原产中国，各省区广泛栽培。世界各地均有栽植。
								
							</li>

						</ul>
					</td>
					<td width="10"> </td>
					<td width="100">
					</td>
					<!-- <hr class="layui-border-black"> -->
				</tr>
					<hr class="layui-border-black">
			</tbody>
		</table>
		<table style="margin-left: 100px; margin-top: 80px;    line-height: 40px">
			<tbody class="panel panel-default" >
				<tr align="center">
					<td width="90">
						<div><img src="../static/images/s4.jpg" width="200" height="200" style="margin: 20px;"></div>
					</td>
					<td width="10"> </td>
					<td align="left">
						<ul>
							<li><h2>葡萄</h2></li>
							<li  style="font-size: 14px;">
								葡萄(Vitis vinifera L.)为葡萄科葡萄属木质藤本植物，小枝圆柱形，有纵棱纹，无毛或被稀疏柔毛，叶卵圆形，
								圆锥花序密集或疏散，基部分枝发达，果实球形或椭圆形，花期4-5月，果期8-9月。
								葡萄是世界最古老的果树树种之一，葡萄的植物化石发现于第三纪地层中，说明当时已遍布于欧、亚及格陵兰。
								葡萄为著名水果，生食或制葡萄干，并酿酒，酿酒后的酒脚可提酒石酸，根和藤药用能止呕、安胎。
					
							</li>

						</ul>
					</td>
					<td width="10"> </td>
					<td width="100">
					</td>
					<!-- <hr class="layui-border-black"> -->
				</tr>
					<hr class="layui-border-black">
			</tbody>
		</table>
		<table style="margin-left: 100px; margin-top: 80px;    line-height: 40px">
			<tbody class="panel panel-default" >
				<tr align="center">

				</tr>
					<hr class="layui-border-black">
			</tbody>
		</table>



		<!-- 中部结束 -->
		<!-- 底部开始 -->
		<div class="footer">
			<div class="copyright">Copyright ©2022 DumbDumbDumbDumb
				本项目开源地址：https://github.com/jiamin329/fruit-classifer</div>
		</div>
		<!-- 底部结束 -->
		<script>

		</script>
</body>



<style scoped>
	h1 {
		color: #226111;
		font-size: 2.3em;
	}
	h2 {
		color: #5fc285;
		font-size: 2.3em;
	}
	h3 {
		color: #5fc285;
		font-size: 36px;
	}
	h4 * {
		position: fixed;
		right: 30px;
	
		color: #5fc285;
		font-size: 2.3em;
	}
	.layui-nav {
    position: relative;
    padding: 0 20px;
    background-color: #308938 !important;
    color: #d7c07f;
    border-radius: 2px;
    font-size: 0;
    box-sizing: border-box;
	}
	:root {
    --swiper-theme-color: #298119 !important;
	}
	.footer {
    position: fixed;
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    background-color: #308938 !important;
    border-top: 1px solid rgb(133 30 20 / 20%);
    line-height: 40px;
 
	}
	
element.style {
    position: absolute;
    bottom: 60px;
    right: 48px;
    text-align: center;
}

.swiper {
    width: 580px;
    height: 200px;
}
.layui-nav * {
    font-size: 24px;
}
</style>